extends layout

block content
  #core.section
    .columns
      #col1.column(style={'padding':'0 3rem 0 1.5rem'})
        .title
          h1 REGISTAR
        form#registerForm
          input(type='hidden', name='_csrf', value='#{csrf}')
          .field
            label.label Nome
            .control
              input.input(type='text', placeholder='Nome', name='name', required)
          .field
            label.label Telemovel
            .control
              input.input(type='number', placeholder='960215457', name='phone', required)
          .field.is-grouped.columns
            .column
              label.label Curso
              .control
                input.input(type='text', placeholder='Mestrado Engenharia Biomedica', name='course', required)
            .column
              label.label Ano
              .control
                input.input(type='number', placeholder='3', min='1', name='year', required)
          .field
            label.label Email
            .control
              input.input(type='email', placeholder='exemplo@email.com', name='email', required)
          .field
            label.label Password
            .control
              input.input(type='password', placeholder='Password', name='password', required)
          .field
            label.label Confirmar password
            .control
              input.input(type='password', placeholder='Confirmar Password', name='confirm_password', required)
          label.label Tipo
          .field.is-grouped.columns
            .control.column
              .select.is-fullwidth
                select(name='type')
                  option Estudante
                  option Tutor
            .control.column
              input(value='Registar')#register.button.is-link.is-fullwidth.is-pulled-right
          
      #col2.column
        .title
          h1 LOGIN
        form#loginForm
          input(type='hidden', name='_csrf', value='#{csrf}')
          .field
            label.label Email
            .control
              input.input(type='text', placeholder='Email', name='email', required)
          .field
            label.label Password
            .control
              input.input(type='password', placeholder='Password', name='password', required)
          .control
            input(value='Login', style={'width': '30%'})#login.button.is-link
  script(src='js/app.js')
            
              
  #footer.footer
    h1 footer
