extends layout

block content
  section#core(style={'padding':'1rem 3rem', 'margin-bottom': '2rem'})
    section.hero(style={'margin-bottom':'2rem'})
      h1.title Registo
    div.columns
      div.column
        form(action='/registration', method='POST')
          .field
            label.label Nome
            .control
              input.input(type='text', placeholder='Nome', name='name', required)
          .field
            label.label Telemovel
            .control
              input.input(type='number', placeholder='960215457', name='phone', required)
          .field.is-grouped.columns
            .column
              label.label Curso
              .control
                input.input(type='text', placeholder='Mestrado Engenharia Biomedica', name='course', required)
            .column
              label.label Ano
              .control
                input.input(type='number', placeholder='3', min='1', name='year', required)
          .field
            label.label Email
            .control
              input.input(type='email', placeholder='exemplo@email.com', name='email', required)
          .field
            label.label Password
            .control
              input.input(type='password', placeholder='Password', name='password', required)
          .field
            label.label Confirmar password
            .control
              input.input(type='password', placeholder='Password', name='confirm-password', required)
          label.label Tipo
          .field.is-grouped.columns
            .control.column
              .select.is-fullwidth
                select(name='tipo')
                  option Estudante
                  option Tutor
            .control.column
              input(type='submit', value='Registar')#submit.button.is-link.is-fullwidth.is-pulled-right
          
      div.column
        h1 left
  section#footer.footer
    h1 footer
