extends layout

block topic
  p.is-size-6 Fisica

block topics
  .tile.is-ancestor.is-vertical.section
    .tile
      .tile.is-parent
        tile.is-child.is-2
          block topic
      .tile.is-parent
          p.tile.is-child.is-2
            block topic
    .tile
      .tile.is-parent
        tile.is-child.is-2
          block topic
      .tile.is-parent
          p.tile.is-child.is-2
            block topic
    

block tutor_card
  .card.notification.is-info
    .card-content
      .media
        .media-content
          .title.has-text-centered
            p John Smith
          .subtitle.has-text-centered
            p johnSmith@gmail.com
      block topics

block content
  .tile.is-ancestor.is-vertical.section
    //AS many tiles as (int)n_tutors/3
    .tile
      //PUSH TILES THERE
      .tile.is-parent.is-3
        tile.is-child
          block tutor_card
      .tile.is-parent.is-3
        tile.is-child
          block tutor_card
      .tile.is-parent.is-3
        tile.is-child
          block tutor_card
      .tile.is-parent.is-3
        tile.is-child
          block tutor_card
    .tile
      .tile.is-parent.is-3
        tile.is-child
          block tutor_card
  
  
