doctype html
head
  title Uteach
  link(rel='stylesheet', href='/css/reset.css')
  link(rel='stylesheet', href='/css/core.css')
  link(rel='stylesheet', h/css/tref='https://fonts.googleapis.com/css?family=Roboto+Slab:400')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400')
  script(defer='true', src='https://use.fontawesome.com/releases/v5.0.2/js/all.js')
  meta(name="viewport", content="width=device-width, initial-scale=1")
body
  .header.fixed-top.fullwidth.vcenter.shadow.spaceBetween
    .w5
      a.ml2(href='/profile').f1 Perfil
    
    img(src='/images/logo.png', width='154rem')
    
    .w5
      a.mr2.f1(href='/logout') Logout
    
  .fullwidth.hcenter
    .card.shadow.mt0-5.w37.h2.vcenter
      i.fas.fa-search.ml1
      input.invisibleInput.w33-5(placeholder='Insere as palavras chave do que procuras. Ex: web design', type='text')
  
  .fullwidth.hcenter
    .column
      .card.shadow.mt1.w37.h9.inlineFlex.vcenter
        img(src='/images/user.png').ml2.mr2.w6
        .column
          h2 Artur Filipe Machado
          h3 Programacao
          h3 Robotica
          h3.c1 Pontuacao: 3.5 / 5
          
      .card.shadow.mt1.w37.h9.inlineFlex.vcenter
        img(src='/images/user.png').ml2.mr2.w6
        .column
          h2 Artur Filipe Machado
          h3 Programacao
          h3 Robotica
          h3.c1 Pontuacao: 3.5 / 5
          
      .card.shadow.mt1.w37.h9.inlineFlex.vcenter
        img(src='/images/user.png').ml2.mr2.w6
        .column
          h2 Artur Filipe Machado
          h3 Programacao
          h3 Robotica
          h3.c1 Pontuacao: 3.5 / 5
          
      .card.shadow.mt1.w37.h9.inlineFlex.vcenter
        img(src='/images/user.png').ml2.mr2.w6
        .column
          h2 Artur Filipe Machado
          h3 Programacao
          h3 Robotica
          h3.c1 Pontuacao: 3.5 / 5 
      
      .card.shadow.mt1.w37.h9.inlineFlex.vcenter
        img(src='/images/user.png').ml2.mr2.w6
        .column
          h2 Artur Filipe Machado
          h3 Programacao
          h3 Robotica
          h3.c1 Pontuacao: 3.5 / 5 
