body {
  padding-top: 4rem;
  background-color: #cccccc;
  height: 100vh;
}

#header {
  height: 3.5rem;
  margin-top: -4rem;
  background-color: #ffffff;
}

#optionsButtons {
  margin-top: calc(1rem - 0.5rem);
  color: #336699;
}

#buttonRegister {
  height: 2.5rem;
  width: 18.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem 0 0 0.5rem;
}

#buttonRegister:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #336699;
}

#buttonLogin {
  height: 2.5rem;
  width: 18.5rem;
  background-color: #ffffff;
  border-radius: 0 0.5rem 0.5rem 0;
}

#buttonLogin:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #336699;
}

.inlineFlex { display: inline-flex; }
.flex { display: flex; }
.vcenter { display: flex; align-items: center; }
.hcenter { display: flex; justify-content: center; }
.fixed-top { position: fixed; }
.fullwidth { width: 100%; }
.shadow { box-shadow: 0px 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.3); }

.mt1 { margin-top: 1rem }
.mt2 { margin-top: 2rem }

.mr1-25 { margin-right: 1.25rem }
.mr1-5 { margin-right: 1.5rem }
.mr2 { margin-right: 2rem }
.mr2-5 { margin-right: 2.5rem }
.mr3 { margin-right: 3rem }
.mr3-25 { margin-right: 3.25rem }
.mr3-5 { margin-right: 3.5rem }
.mr3-75 { margin-right: 3.75rem }
.mr6 { margin-right: 6rem }

.h14 { height: 14rem; }
.h30 { height: 30rem; }

.w3-5 { width: 3.5rem }
.w7 { width: 7rem }
.w9 { width: 9rem }
.w19 { width: 19rem }
.w37 { width: 37rem }

.fr { float: right; }

.hidden { display: none }

.bc1 { background-color: #336699; color: #ffffff }

.card {
  background-color: #ffffff;
  border-radius: 0.5rem;
}

/* EXTRA */
.input {
  border: 1px solid transparent;
  border-radius: 3px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: white;
  border-color: #dbdbdb;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1) inset;
  font-family: 'Open Sans';
  font-size: 1rem;
  height: 2rem;
}

.input[type=text],
.input[type=url],
.input[type=tel],
.input[type=number],
.input[type=color],
.input[type=email] {
  color: #000000;
}

.input::placeholder {
  line-height: 1.5rem;
  color: #999999;
}

input[type=submit] {
  border: 0;
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-color: #dbdbdb;
  font-family: 'Open Sans';
  font-size: 1rem;
  height: 2rem;
}

input[type=submit]:hover { cursor: pointer; }
